@import '_material_color.scss';

/****************************/
/* Theme color declarations */
$theme-color: 'indigo';
$theme-accent-color: 'blue';
$theme-color-number: 500;
$theme-color-light-number: 300;
$theme-color-dark-number: 700;
$theme-accent-color-number: A400;
$theme-accent-color-light-number: A200;
$theme-accent-color-dark-number: A700;


/******************/
/* Variable names */
/* Primary */
$theme-primary: get-color-var-name($theme-color, $theme-color-number);
$theme-primary-light: get-color-var-name($theme-color, $theme-color-light-number);
$theme-primary-dark: get-color-var-name($theme-color, $theme-color-dark-number);
/* Accent */
$theme-accent: get-color-var-name($theme-accent-color, $theme-accent-color-number);
$theme-accent-light: get-color-var-name($theme-accent-color, $theme-accent-color-light-number);
$theme-accent-dark: get-color-var-name($theme-accent-color, $theme-accent-color-dark-number);
/* Backgrounds*/
$theme-background: get-color-var-name($theme-color, 50);
$theme-loading-background: get-color-var-name($theme-color, 500);

/*********************/
/* RGB Helper Values */
/* Theme */
$theme-primary-rgb: material-color($theme-color, $theme-color-number);
$theme-primary-light-rgb: material-color($theme-color, $theme-color-light-number);
$theme-primary-dark-rgb: material-color($theme-color, $theme-color-dark-number);
$theme-accent-rgb: material-color($theme-accent-color, $theme-accent-color-number);
$theme-background-rgb: material-color($theme-color, 50);
$theme-loading-background-rgb: material-color($theme-color, 500);
